<template name="navigation">
	<div class="content-cover toggle-navigation"></div>
	<nav class="navigation" role="navigation">
		<button class="toggle-navigation" title="Toggle Navigation">
			<i class="material-icons">&#xE5D2;</i>
		</button>
		<h2>menu</h2>
		<ul>
			<a href="#"><li>opção</li></a>
			<a href="#"><li>outra opção</li></a>
			<a href="#"><li>e opção</li></a>
		</ul>
	</nav>
	<header class="topbar">
		<button class="toggle-navigation">
			<i class="material-icons">&#xE5D2;</i>
		</button>
		<h1>Freaklist</h1>
	</header>
</template>
