nav{
	background-color: #444;
	color: #EEE;

	border-right: 0.1em solid #333;
	border-left: 0.5em solid #222;

	padding: 0.5em 0;

	width: 20em;
	height: 100%;

	float: left;

	margin-left: -20em;
	transition: margin-left 0.2s;
}

nav.open{
	margin-left: 0;
}

li{
	background-color: #555;
	padding: 0.5em;
	border-bottom: 0.1em solid #666;
}

li:hover{
	background-color: #4F4F4F;
}

nav .logo{
	display: block;
	text-align: center;
	margin: 0.6em;
}
