nav{
	background-color: #455;
	color: #EEF;

	display: inline-block;
	position: relative;
	margin-left: -20em;

	transition: margin-left 0.2s;

	border-right: 0.2em solid #689;
	border-left: 0.5em solid #233;
	padding: 0.5em 0.6em;

	width: 20em;
	height: 100%;
}

nav.open{
	margin-left: 0;
}
