@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700);

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	height: 100%;
}

body{
	background: linear-gradient(to right, #1E1F2D -30%, #541616 200%);
	font-family: 'Roboto', Helvetica, sans-serif;
	font-weight: 300;
}