header.navigation{
	display: block;
	background: linear-gradient(to right, #1E1F2D -30%, #541616 200%);
	padding: 1.5em;
}

nav.navigation{
	position: fixed;
	height: 100%;
	background-color: #00F;
	width: 20em;
	left: -20em;
	transition: left 0.2s;
}

.navigationOpen nav.navigation{
	left: 0;
}

@media only screen and (min-width: 60em){
	body{
		background-color: #F00;
	}
	body.navigationOpen{
		margin-left: 20em;
	}
}
