header{
	background-color: #444;
	color: #EEE;

	border-bottom: 0.1em solid #333;
}

.toggleNav{
	background: url(img/ic_menu_white_48dp.png) #333;
	background-size: cover;

	border: 0.4em solid #333;

	vertical-align: top;

	width: 2.2em;
	height: 2.2em;
}

.toggleNav:hover{
	background-color: #222;
	border: 0.4em solid #222;
}

header h1{
	display: inline-block;
	font-size: 1.7em;
}
